{% extends 'dashboard/base.html.twig' %}

{% block title %}Edition de l'utilisateur «{{ user.username }}»{% endblock %}

{% block body %}

    <h1>Edition de l'utilisateur «{{ user.username }}»</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <button class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
        <a class="btn btn-secondary" href="{{ path('dash_user_index') }}">Annuler</a>

    {{ form_end(form) }}

{% endblock %}
